:root {
  --app-background-color:#e7e7e7;
  --text-color: #000000;
  --cards-color: #f5f5f5;
  --item-color: #a4add6;
  --item-selected-color: #506283;
  --standout-color: #f53f23;
  --space-1: 8px;
  --space-2: 16px;
  --space-3: 24px;
  --space-3: 32px;
}

html, body {
  background-color: var(--app-background-color);
}

.App {
  text-align: center;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: var(--text-color);
}

.grid-container {
  display: grid;
  grid-template-columns: 2fr 7fr; 
  height: 100%;
  width: 95%;
}

.component-cards {
  background-color:  var(--cards-color);
  border-radius: 10px;
  padding: var(--space-2);
  margin: var(--space-2);
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.date-input {
  width: 160px;
  padding: var(--space-2) var(--space-2);
  margin-bottom: var(--space-2);
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 8px;
}

.date-display {
  text-align: left;
  font-size: 0.9em;
  font-weight: bold;
  margin-bottom: var(--space-3);
  font-family: 'Roboto', sans-serif;
  font-style: italic;
}

.component-heading {
  text-align: left;
  font-size: 1.2em;
  font-weight: bold;
  margin-bottom: var(--space-2);
  font-family: 'Roboto', sans-serif;
}

.component-subheading {
  text-align: left;
  font-size: 0.8em;
  font-weight: bold;
  margin-bottom: var(--space-2);
  font-family: 'Roboto', sans-serif;
}

.component-body {
  display: flex;
  flex-direction: row; 
  align-items: center;
}

.stats-container {
  display: flex;
  justify-content: space-between; 
  flex-wrap: wrap;
}

.stats-container > * {
  box-sizing: border-box; 
  flex: 1 1 calc(25% - 40px); 
  height: 180px; 
}

.pill-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 8px;
  margin-bottom: var(--space-2);
}

.pill {
  background-color: var(--item-color);
  border-radius: 20px;
  padding: 5px 10px;  
  font-size: 0.5em;
  display: inline-flex; 
  transition: background-color 0.2s ease, color 0.2s ease;
}

.pill:hover {
  cursor: pointer;
  background-color: var(--item-selected-color);
}

.pill.selected {
  background-color: var(--item-selected-color);
  color: #ffffff;
}

.graph-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 450px;
}

.component-cards.stats {
  position: relative;
}

.stats-icon {
  position: absolute;
  top: 15%;
  left: 50%;
  transform: translateX(-50%);
}

.stats-value {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  font-size: 2.3rem;
  font-weight: bold;
}

.stats-label {
  position: absolute;
  bottom: 20%;
  left: 50%;
  transform: translateX(-50%) translateY(50%);
  font-size: 1rem;
  width: 90%;
}